<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <span>
            flag
        </span>
        <span>
            Euro
        </span>
        <span>
            Besoin d"aide
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div>
            Artsper
        </div>
        <span class="example-spacer"></span>
        <div class="container">
            <span>Oeuvres</span>
            <span>Peinture</span>
            <span>Sculputre</span>
            <span>Edition</span>
            <span>Photographie</span>
            <span>Dessin</span>
            <span>Artistes</span>
            <span>Découvrir</span>
            <span>Best deal</span>
        </div>
        <div>
            <!-- <mat-icon matPreffix>phone</mat-icon>
            <input matInput class="search" name="search" placeholder="Artistes,ouevres,galerie ou mot clé"> -->
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-icon matPrefix>email</mat-icon>
                    <input matInput placeholder="Artistes,ouevres,">

                </mat-form-field>
            </form>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
