.example-spacer {
    flex: 1 1 auto;
  }

.navbar{
    justify-content: space-between;
    background-color: white;
}

span{
    padding-right: 1rem;
}

.search{
    border-radius: 24xp;
    outline: none;
}