.example-spacer {
    flex: 1 1 auto;
  }

.navbar{
    justify-content: space-between;
    background-color: white;
}
.panel{
    width: 100px;
}
.logo{
    font-size: 40px;
}
.container{
    justify-content: space-between;
}
span{
    padding-right: 1rem;
    font-size: 15px;
    font-family: 'Apercubold',Arial,sans-serif;
    color: #000;
}
.deal{
    color:red
}
.search{
    border-radius: 24xp;
    outline: none;
}
.search-icon{
    size: 12px;
}
.mat-icon{
    font-size: 20px;
}
.input{
    border-radius: 24px;
    outline: none;
    border-color: gray;

}
.example-full-width{
    color: gray;
}
.savoir-class{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
    min-height: 40px;
    flex: 1 1 auto;
}
.savoir-class p{
    font-family: 'Apercu',Arial,sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}