<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="logo">
            Artsper
        </div>
        <span class="example-spacer"></span>
        <div class="container">
            <span>Oeuvres</span>
            <span>Peinture</span>
            <span>Sculputre</span>
            <span>Edition</span>
            <span>Photographie</span>
            <span>Dessin</span>
            <span>Artistes</span>
            <span>Découvrir</span>
            <span class="deal">best deal</span>
        </div>
        <span class="example-spacer"></span>
        <div class="input">
            <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input matInput class="input" name="search" placeholder="Artistes,ouevres,galerie ou mot clé...">
                </mat-form-field>
            </form> -->
            <mat-icon matPrefix class="search-icon">search</mat-icon>
            <input name="search" placeholder="Artistes,ouevres,galerie ou mot clé...">
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="savoir-class">
      <p>Livraison dans le monde entier et retours gratuits ! <b>En savoir plus</b></p>
  </div>
