.container{
    background-color: lightgray;
}
.card{
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}

.card-content{
    margin: auto;
    
}
.is-invalid{
    border-color: red;
}
.h3{
    color: black;
}
.mat-tab-group {
    margin-bottom: 48px;
  }

.button{
    border-radius: 24px;
    outline: none;
    width: 100px;
    background-color: azure;

}

.form-field{
    width: 600px;
}

